@font-face {
    font-family: 'bookmancregular';
    src: url('../../fonts/bookmanc-webfont.woff2') format('woff2'),
         url('../../fonts/bookmanc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmancbold';
    src: url('../../fonts/bookmancbold-webfont.woff2') format('woff2'),
         url('../../fonts/bookmancbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmancbold_italic';
    src: url('../../fonts/bookmancbolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/bookmancbolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmancitalic';
    src: url('../../fonts/bookmancitalic-webfont.woff2') format('woff2'),
         url('../../fonts/bookmancitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
